@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "AdamBold";
    src: url("/fonts/Adam-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: radial-gradient(circle at 30% 30%,
            rgba(10, 72, 120, 0.6),
            rgba(0, 35, 50, 0.9)),
        radial-gradient(circle at bottom right,
            rgba(0, 29, 80, 0.6),
            rgba(0, 22, 40, 0.9)),
        linear-gradient(140deg, #0b262b, #0a3640, #0d4855, #083b3d);
    background-size: cover;
    background-attachment: fixed;
}

.link {
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.link:focus,
.link:hover {
    color: #fff;
}

.link:focus:after,
.link:hover:after {
    width: 100%;
    left: 0%;
}

.link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}